[Desktop Entry]
Encoding=UTF-8
Name=Yzis
Name[af]=YzisDeel
Name[de]=Yzis-Objekt
Name[eo]=Yzis-Parto
Name[es]=Parte
Name[et]=Yzis komponent
Name[fr]=Composant Yzis
Name[id]=Yzisbagian
Name[ko]=Yzis 부분
Name[lt]=YzisDalis
Name[ro]=Componenta Yzis
Name[sv]=Yzis-del
Name[ven]=Tshipida
Name[xh]=YzisIqela
Name[zu]=YzisIngxenye
MimeType=text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;
X-KDE-Library=yzispart
ServiceTypes=KParts/ReadWritePart,Browser/View,KTextEditor/Editor,KTextEditor/Document
Type=Service

