[Desktop Entry]
Encoding=UTF-8
Name=Kyzis
Name[af]=KyzisDeel
Name[de]=Kyzis-Objekt
Name[eo]=Kyzis-Parto
Name[es]=Parte
Name[et]=Kyzis komponent
Name[id]=Kyzisbagian
Name[ko]=Kyzis 부분
Name[lt]=KyzisDalis
Name[ro]=Componenta Kyzis
Name[sv]=Kyzis-del
Name[ven]=Tshipida
Name[xh]=KyzisIqela
Name[zu]=KyzisIngxenye
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-KDE-Library=libkyzispart
ServiceTypes=KParts/ReadWritePart,Browser/View,KTextEditor/Editor,KTextEditor/Document
Type=Service
