[Desktop Entry]
Encoding=UTF-8
Name=Kyzis
Exec=kyzis %i %m -caption "%c"
Icon=kyzis
Type=Application
DocPath=kyzis/kyzis.html
GenericName=YZis Frontend for KDE
Terminal=0
