[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Gyzis
Exec=gyzis -caption "%c" %i %m %u
GenericName=GNOME frontend to the Yzis editor
Categories=Qt;GNOME;TextEditor
Icon=kyzis
Terminal=false
MimeTypes=text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/rdf;
